<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/usuarios/create">
       Name: <input type="text" name="Name"><br>
       E-mail: <input type="text" name="E-mail"><br>
       Senha: <input type="password" name="Senha"><br>
       Confirmação de senha: <input type="password" name="csenha"><br>
       <input type="submit" value="cadastrar">
    </form>
</body>
</html>